[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
fastapi-utils = "*"
uvicorn = "*"
sqlalchemy = "*"
pytesseract = "*"
pdf2image = "*"
pillow = "*"
psycopg2-binary = "*"
python-dotenv = "*"
pypdf2 = "*"
python-multipart = "*"
pandas = "*"
pipx = "*"

[dev-packages]

[requires]
python_version = "3"
